.capitalize *::first-letter {
  text-transform: uppercase !important;
}

.main-container {
  height: 100%;
  margin: 5px 15px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow-y: hidden;
}

.titles-container {
  position: relative;
  background-color: #eee6e6;
  border-radius: 5px;
  overflow: scroll;
}

.page-title {
  width: 50%;
  margin: 40px auto;
  text-align: center;
}

.page-title h2 {
  text-align: center;
  font-size: 32px;
  color: #ad1457;
}

.page-title input {
  text-align: center;
}

.details-container {
  min-height: 400px;
  padding: 10px 40px;
  color: whitesmoke;
  background-color: #ad1457;
  box-shadow: -2px 0px 2px rgb(0, 0, 0);
  overflow-y: scroll;
}

.form-open-btn {
  color: #ad1457;
  font-size: 40px;
  background-color: #fff;
  border: 0;
  padding: 0 10px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 2px 4px 2px rgb(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}
.form-open-btn:hover {
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
  transform: scale(1.05) translate(3px, -3px);
}

@media screen and (max-width: 900px) {
  .main-container {
    display: block;
    overflow-y: scroll;
  }

  .form-open-btn {
    position: relative;
    bottom: 5px;
    left: 5px;
  }
}
@media screen and (max-width: 400px) {
  .page-title {
    width: 100%;
  }
  .page-title h2 {
    font-size: 16px;
  }
}
